
/*Color scheme:
    cerulean: #8552F2
    white: #F2F2F2
    spring green: #CBF277
    yellow: #F2EA72
    orange: #D9A362

    text tag: font-family: 'Roboto Slab', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
main {
    background-color: #F2EA72;
    padding:2em;
}
nav {
    background-color: #CBF277;
    
}
    nav ul li {
        display: inline-block;
    }
        nav ul li a {
            padding: .5em;
            display: block;
        }

header {
    background-color: #D9A362;
    padding: .5em 2em;
    
}

body {
    background-color: #F2F2F2;
    font-family: 'Roboto Slab', serif;
}

h1 {
    color: #F2F2F2;
}

h2 {
    color: #D9A362;
}

h3 {
    color: #8552F2;
}

p {
    color: darkviolet;
}

#classes {
    color: rebeccapurple;
}

.list {
    text-decoration: dotted;
}
header img {
    float: left;
    margin: 1em;
}

#indexImgOne {
    float: left;
    width: 20%;
    padding: 3em, 0em, 3em, 20em;
    margin: 1em, 0em, 1em, 1em;
    max-width: 500px;
    max-height: 500px;
}
#paragraphOne {
    float: right;
    width: 60%;
    padding: 3em, 5em, 5em, 0em;
    margin: 2em, 2em, 2em, 0em;
    max-width: 500px;
    max-height: 500px;
}
#indexBottom{
    clear:both;
    margin: 3em;
}

#indexImageTwo {
    float:left;
    max-width: 500px;
    max-height: 500px;
}
#indexRightColumn {
    width: 60%;
    border-left: 1px solid black;
    float: right;
}
#indexLeftColumn {
    width: 30%;
    float: left;
}
#indexImageThree{
    float:right;
    max-height: 500px;
    max-width: 500px;
}
.clear {
    clear: both;
}
