
/*Color scheme:
    cerulean: #8552F2
    white: #F2F2F2
    spring green: #CBF277
    yellow: #F2EA72
    orange: #D9A362

    text tag: font-family: 'Roboto Slab', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
main {
    background-color: #F2EA72;
    padding:2em;
}
nav {
    background-color: #CBF277;
    
}
    nav ul li {
        display: inline-block;
    }
        nav ul li a {
            padding: .5em;
            display: block;
        }

header {
    background-color: #D9A362;
    padding: .5em 2em;
    
}

body {
    background-color: #8552F2;
    font-family: 'Roboto Slab', serif;
}

h1 {
    color: #D9A362;
}

h2 {
    color: #D9A362;
}

h3 {
    color: #8552F2;
}

p {
    color: darkviolet;
}

#classes {
    color: rebeccapurple;
}

.list {
    text-decoration: dotted;
}
}
